@model AgendaCCB.Data.Models.PositionMinistry

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Cargo/Ministério</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Index", "Index", "PositionMinistry")</li>
    <li class="breadcrumb-item active">Detalhes</li>
</ol>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">Dados Cargo/Ministério</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsMinistry)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.IsMinistry)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-actions">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-submit">Editar</a>
    <a href="@Url.Action("Index")" class="btn btn-default">Voltar para a Lista</a>
</div>
