@model AgendaCCB.Data.Models.CommonCongregation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Congregação</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Index", "Index", "CommonCongregation")</li>
    <li class="breadcrumb-item active">Detalhes</li>
</ol>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">Dados Congregação</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.FaxPhoneNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.FaxPhoneNumber)
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.District)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.District)
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CityNavigation)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CityNavigation.Name)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Tem certeza que deseja excluir?</h3>
@using (Html.BeginForm())
{
    <div class="form-actions">
        <input type="submit" value="Excluir" class="btn btn-danger btn-submit" />
        <a href="@Url.Action("Index")" class="btn btn-default">Voltar para a Lista</a>
    </div>
}