@model AgendaCCB.Data.Models.CommonCongregation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-6">
                @Html.HiddenFor(model => model.Id)
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(model => model.IdCity, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.IdCity, ViewBag.Id as IEnumerable<SelectListItem>, "Selecione...", htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.IdCity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

