@model AgendaCCB.Web.Models.AppAuthorizationToUseViewModel

@{
    ViewData["Title"] = "Liberar Uso APP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autorização Aplicativo Agenda</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Index", "Index", "AppauthorizationToUse")</li>
    <li class="breadcrumb-item active">Criar</li>
</ol>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Liberação uso aplicativo</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">                                                                      
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary btn-submit" value="Gerar" />
            <a href="@Url.Action("Index", "AppauthorizationToUse")" class="btn btn-default">Cancelar</a>
        </div>
    </div>
}