@model AgendaCCB.Data.Models.Collaborator

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Collaborator</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCommonCongregationNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCommonCongregationNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPositionMinistyNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPositionMinistyNavigation.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
