@model AgendaCCB.Data.Models.Users

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountFailureResponseFailure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountFailureResponseFailure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountFailurePasswordFailure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountFailurePasswordFailure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastAccess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastAccess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
